<main>
      <div class="bg_main">
        <picture
          ><source srcset="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/bg_main.jpg" media="(min-width:600px)" />
          <img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/bg_main_sp.jpg" alt=""
        /></picture>



      </div>
      <div id="fv_top">
        <picture
          ><source srcset="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/fv_meat.png" media="(min-width:1025px)" />
          <img
            src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/fv_meat_sp.png"
            alt="沖縄の豚肉"
            data-aos="fade"
            class="img1"
        /></picture>

        <h2>
          <img
            class="img2"
            src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/fv_logo.png"
            alt="Tropical Pork House Okinawa"
            data-aos="fade"
          />
        </h2>
      </div>
      {% comment %} ---------実績報告時、非表示--------- {% endcomment %}
      {% comment %} 
      <section id="recommend" class="inner" data-aos="fade-up">
        <h3 class="text_deco">Recommend.</h3>
        <ul>
          {% for block in section.blocks %}
            {% if block.type == 'banner_block' %}
          <li>
            <a href="{{ block.settings.banner_link }}"
              ><div class="wrappar">
                <img src="{{ block.settings.banner_image | img_url: 'master' }}" class="link_img" alt="" /></div
            ></a>
            <span><img src="{{ block.settings.banner_image_txt | img_url: 'master' }}" alt="" /></span>
          </li>
        {% endif %}
      {% endfor %}
        </ul>
      </section> {% endcomment %}
            {% comment %} ---------実績報告時、非表示--------- {% endcomment %}
      <section id="about" data-aos="fade-up">
        <div class="inner">
          <h3 class="text_deco">About.</h3>
          <div class="ctn">
            <div class="ctt">
              <h4>トロピカルな<br />沖縄の豚肉専門店です。</h4>
              <p>
                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              </p>
              <div class="btn">
                <a href="/pages/about"
                  >VIEW ABOUT
                  <div class="arrow">
                    <img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/icon_arrow.svg" alt="" />
                  </div>
                </a>
              </div>
            </div>
            <div class="ctt_img" data-aos="fade" data-aos-delay="100">
              <picture
                ><source
                srcset="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/top_about_img.png"
                  media="(min-width:600px)" />
                <img
                  src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/top_about_img_sp.png"
                  alt=""
                  class="ctt_img"
                  data-aos="fade"
                  data-aos-delay="100"
              /></picture>

            </div>
          </div>
        </div>
        <!-- inner -->
      </section>
      <section id="lineup" data-aos="fade-up">
        <div class="inner">
          <h3 class="text_deco">Line up.</h3>
          <div
            class="product_wrap"
            data-simpleba
            data-simplebar-auto-hide="false"
          >
            <ul class="product_list">
              {% for used_product_block in section.blocks %}
                　{% if used_product_block.type == 'used_product_block' %}
              <li>
                <a href="{{ used_product_block.settings.used_product.url }}" class="item_link">
                  <div class="img">
                    <img src="{{ used_product_block.settings.used_product.featured_image.src | img_url: 'master' }}" alt="" />
                  </div>
                  <p class="cat"> {% for tag in used_product_block.settings.used_product.tags %}
                  {{ tag }}{% if forloop.last == false %}, {% endif %}
                {% endfor %}</p>
                  <p class="product_name">{{ used_product_block.settings.used_product.title }}</p>
                  <p class="price">{{ used_product_block.settings.used_product.price | money }}</p>
                </a>

                <form action="/cart/add" method="post">
                <input type="hidden" name="id" value="{{ used_product_block.settings.used_product.variants.first.id }}" />
                <button type="submit" class="cart_btn">
                  <svg
                    class="icon_svg"
                    viewBox="0 0 23 23"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M18.125 18.25C18.7217 18.25 19.294 18.4871 19.716 18.909C20.1379 19.331 20.375 19.9033 20.375 20.5C20.375 21.0967 20.1379 21.669 19.716 22.091C19.294 22.5129 18.7217 22.75 18.125 22.75C17.5283 22.75 16.956 22.5129 16.534 22.091C16.1121 21.669 15.875 21.0967 15.875 20.5C15.875 19.2512 16.8762 18.25 18.125 18.25ZM0.125 0.25H3.80375L4.86125 2.5H21.5C21.7984 2.5 22.0845 2.61853 22.2955 2.82951C22.5065 3.04048 22.625 3.32663 22.625 3.625C22.625 3.81625 22.5687 4.0075 22.49 4.1875L18.4625 11.4663C18.08 12.1525 17.3375 12.625 16.4938 12.625H8.1125L7.1 14.4588L7.06625 14.5938C7.06625 14.6683 7.09588 14.7399 7.14863 14.7926C7.20137 14.8454 7.27291 14.875 7.3475 14.875H20.375V17.125H6.875C6.27826 17.125 5.70597 16.8879 5.28401 16.466C4.86205 16.044 4.625 15.4717 4.625 14.875C4.625 14.4813 4.72625 14.11 4.895 13.795L6.425 11.0388L2.375 2.5H0.125V0.25ZM6.875 18.25C7.47174 18.25 8.04403 18.4871 8.46599 18.909C8.88795 19.331 9.125 19.9033 9.125 20.5C9.125 21.0967 8.88795 21.669 8.46599 22.091C8.04403 22.5129 7.47174 22.75 6.875 22.75C6.27826 22.75 5.70597 22.5129 5.28401 22.091C4.86205 21.669 4.625 21.0967 4.625 20.5C4.625 19.2512 5.62625 18.25 6.875 18.25ZM17 10.375L20.1275 4.75H5.9075L8.5625 10.375H17Z"
                      fill="white"
                    />
                  </svg>
                  <p>カートに入れる</p>
                  </button>
                  </form>
              </li>

              {% endif %}
            {% endfor %}
            </ul>
          </div>
          <!-- product_wrap -->
          <div class="btn">
            <a href="/collections/all"
              >商品一覧
              <div class="arrow">
                <img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/icon_arrow.svg" alt="" />
              </div>
            </a>
          </div>
        </div>
        <!-- inner -->
      </section>
      <section id="pickup" data-aos="fade-up">
        <div class="inner">
          <h3 class="text_deco">Pick up.</h3>
          <div class="ctn">
            <div class="ctt">
              <p>南国が生んだ極上のお肉</p>
              <h4>パイナップルポーク</h4>
              <div class="btn">
                <a href="#"
                  >VIEW DETAIL
                  <div class="arrow">
                    <img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/icon_arrow.svg" alt="" />
                  </div>
                </a>
              </div>
            </div>
            <div class="ctt_img" data-aos="fade" data-aos-delay="100">
              <img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/top_pickup_img.png" alt="" />
            </div>
          </div>
        </div>
        <!-- inner -->
      </section>
      <section id="faq" data-aos="fade-up" data-aos-delay="500">
        <div class="inner">
          <div class="ctn">
            <div class="ctt_ttl">
              <h3 class="text_deco">FAQ.</h3>
              <div class="btn">
                <a href="/pages/faq"
                  >よくあるご質問
                  <div class="arrow">
                    <img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/icon_arrow_wh.svg" alt="" />
                  </div>
                </a>
              </div>
            </div>
            <div class="ctt">
              <div class="btn">
                <a href="/pages/faq#order"
                  >ご注文・お支払いについて
                  <div class="arrow">
                    <img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/icon_arrow.svg" alt="" />
                  </div>
                </a>
              </div>
              <div class="btn">
                <a href="/pages/faq#delivery"
                  >配送・送料について
                  <div class="arrow">
                    <img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/icon_arrow.svg" alt="" />
                  </div>
                </a>
              </div>
              <div class="btn">
                <a href="/pages/faq#return"
                  >返品・交換について
                  <div class="arrow">
                    <img src="https://cdn.shopify.com/s/files/1/0615/5894/7910/files/icon_arrow.svg" alt="" />
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
{% schema %}
{
  "name": "top-main",
  "presets": [
    {
      "name": "top-main"
    }
  ],
  "blocks": [
    {
      "type": "used_product_block",
      "name": "商品ブロック",
      "settings": [
        {
          "type": "product",
          "id": "used_product",
          "label": "ラインナップに載せる商品を選択"
        }
      ]
    },
    {
      "type": "banner_block",
                  "name": "バナーブロック",
                  "settings": [
                    {
                      "type": "image_picker",
                      "id": "banner_image",
                      "label": "バナー画像"
                    },
                    {
                    "type": "image_picker",
                    "id": "banner_image_txt",
                    "label": "バナー画像(商品名)"
                  },
                    {
                "type": "url",
                "id": "banner_link",
                "label": "リンク先"
                }
                  ]
    }
    
  ],
  "max_blocks": 5
}
{% endschema %}
